.advantages {
  background-color: rgb(255, 255, 255);
}

.advantages__container {
  box-sizing: border-box;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  width: 100%;
  padding-top: 85px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 28px;

  width: 32px;
  height: 32px;

  background-image: url("http://placehold.it/150x100");
}

@media (min-width: $tablet-width) {
  .advantages__list {
    flex-wrap: wrap;
    height: 345px;
  }

  .advantages__item {
    width: 50%;
  }
}
