.advantages {
  background-color: rgb(255, 255, 255);
}

.advantages__list {
  @include reset-ul();
}

.advantages__item {
  // max-width: 250px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.advantages__icon {
  display: block;
  margin-bottom: 20px;

  fill: rgb(99, 209, 187);
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 55px;
    padding-right: 90px;

    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    padding-right: 225px;
    padding-left: 225px;
  }
}
