.advantages {
  background-color: rgb(255, 255, 255);
}

.advantages__list {
  @include reset-ul();
}

.advantages__item {
  // max-width: 250px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.advantages__icon {
  display: block;
  margin-bottom: 20px;

  fill: rgb(99, 209, 187);
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 5px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 30px;

    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item:nth-of-type(1) {
    order: 1;
  }

  .advantages__item:nth-of-type(2) {
    order: 3;
  }

  .advantages__item:nth-of-type(3) {
    order: 5;
  }

  .advantages__item:nth-of-type(4) {
    order: 2;
  }

  .advantages__item:nth-of-type(5) {
    order: 4;
  }

  .advantages__item:nth-of-type(6) {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    padding-right: 225px;
    padding-left: 225px;
  }
}
