.bestseller__container {
  position: relative;

  padding-bottom: 162px;
}

.bestseller__container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.bestseller__tag {
  position: relative;
  top: -26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: rgb(99, 209, 187);
  text-transform: uppercase;
}

.bestseller__legend {
  margin-bottom: 0 0 25px 0;
}

.bestseller__table {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;

  border: none;
}

.bestseller__field {
  box-sizing: border-box;
  padding: 8px 0;

  border-bottom: 1px solid #ececec;
}

.bestseller__value {
  box-sizing: border-box;

  border-bottom: 1px solid #ececec;
}

.bestseller__image {
  width: 100%;
}

.bestseller__cart {
  position: absolute;
  bottom: 36px;

  width: calc(100% - 60px);

  text-align: center;
}

.bestseller__price {
  display: block;
  padding: 25px 0;

  font-weight: 700;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .bestseller {
    position: relative;
  }

  .bestseller__container {
    position: static;

    padding-bottom: 53px;
  }

  .bestseller__container::after {
    display: none;
  }

  .bestseller::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;

    height: 15px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
  }

  .bestseller__info::after {
    display: none;
  }

  .bestseller__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  .bestseller__tag {
    width: 120px;

    text-align: center;
  }

  .bestseller__info {
    display: flex;
  }

  .bestseller__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 44px;
  }

  .bestseller__legend {
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .bestseller__table {
    margin: 0;
    margin-top: 46px;
  }

  .bestseller__cart {
    position: static;

    width: 100%;
  }

  .bestseller__price {
    font-size: 20px;
  }

  .bestseller__image {
    width: 50%;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .bestseller {
    position: static;
  }

  .bestseller::after {
    display: none;
  }

  .bestseller__container {
    position: relative;

    margin-top: -100px;
    padding-bottom: 100px;
  }


  .bestseller__container::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    height: 23px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
  }

  .bestseller__title {
    position: relative;
    top: 160px;
    z-index: 2;

    flex-direction: row-reverse;
    width: 700px;
  }

  .bestseller__tag {
    margin-left: 25px;
  }

  .bestseller__info {
    justify-content: space-between;
  }

  .bestseller__text {
    justify-content: flex-end;
    padding-right: 58px;
    padding-left: 175px;
  }

  .bestseller__table {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .bestseller__field {
    padding: 9px 0;
  }

  .bestseller__cart {
    width: 100%;
  }

  .bestseller__price {
    padding: 34px;
  }
}
