.bestseller {
  background-color: rgb(255, 255, 255);
}

.bestseller__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bestseller__title {
  display: flex;
  flex-direction: column;
}

.bestseller__tag {
  height: 100%;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: rgb(99, 209, 187);
  text-transform: uppercase;
}

.bestseller__description {
  display: flex;
  flex-direction: column;
}

.bestseller__info {
  margin: 0;
  padding: 0;
}

.bestseller__table {
  width: 100%;
  margin-top: 20px;
}

.bestseller__row {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 7px;

  border-bottom: 1px solid red;
}

.bestseller__field {
  width: 92px;
  margin: 0;
  padding: 0;
}

.bestseller__value {
  margin: 0;
  padding: 0;
}

.bestseller__image {
  width: 100%;
}

.bestseller__pic {
  width: 100%;
  margin-bottom: 28px;
}

.bestseller__cart {
  display: flex;
  flex-direction: column;
}

.bestseller__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.bestseller__order {
  box-sizing: border-box;
}


@media (min-width: $tablet-width) {
  .bestseller__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .bestseller__title {
    flex-direction: row;
    width: 100%;
  }

  .bestseller__tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: auto;

    text-align: center;
  }

  .bestseller__description {
    width: 50%;
  }

  .bestseller__image {
    width: 50%;
  }

  .bestseller__cart {
    width: 50%;
  }
}

// @media (min-width: $desktop-width) {

// }
