.button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  padding: 14px 85px;
  box-sizing: border-box;
  border: 2px solid rgb(68, 68, 68);
  font-size: 17px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;

  line-height: 20px;
}
