.contacts {
  background-color: rgb(255, 255, 255);
}

.contacts__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 38px 30px;
}

.contacts .section__title {
  padding-bottom: 40px;

  font-size: 18px;
}

.contacts__map {
  width: 100%;
  height: 457px;
}

.contacts__field {
  padding-right: 30px;
}

.contacts__field,
.contacts__value {
  display: table-cell;
}

.contacts__value--mail {
  border-bottom: #46c1ae 1px solid;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    margin: 0 auto;
  }

  .contacts__container {
    position: relative;

    margin: 0;
    padding: 0;
  }

  .contacts__container:first-child::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 50px;

    display: block;
    width: 47px;
    height: 81px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts .section__title {
    padding-left: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    padding: 10px 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__field {
    padding-right: 25px;
  }

  .contacts__row {
    width: 50%;
  }

  .button-mail {
    position: relative;
    left: 50%;

    width: auto;
    margin: 55px 0;
    padding: 14px 40px;

    transform: translateX(-50%);
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: $desktop-width;
    height: 400px;
  }

  .contacts__container {
    flex-grow: 1;
    width: 50%;
    padding-left: 175px;
  }

  .contacts__table {
    flex-direction: column;
    padding-top: 60px;
  }

  .contacts__map {
    flex-grow: 1;
    order: 3;
    width: 50%;
  }

  .contacts__map iframe {
    width: 100%;
    height: 100%;
  }

  .button-mail {
    left: 175px;

    order: 2;
    width: 30%;

    transform: none;
  }
}
