.copyright {
  text-align: center;
}

.copyright__link {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link svg {
  margin-left: 34px;

  fill: rgb(99, 209, 187);
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: rgb(70, 193, 174);
}

@media (min-width: $tablet-width) {
  .copyright {
    text-align: right;
  }
}
