.feedback {
  background-color: rgb(255, 255, 255);
}

.feedback__container {
  position: relative;
}

.feedback__container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}


.feedback__quote {
  margin: 0;
  padding: 0;

  line-height: 30px;
}

.feedback__author {
  display: block;
  margin-top: 34px;

  font-style: normal;
  color: rgb(0, 0, 0);

  & b {
    font-weight: 700;
  }
}

.feedback__channel {
  display: block;

  font-style: normal;
  line-height: 30px;
}

.button__backward {
  background-image: url("../img/icon-left-arrow.svg");
}

.button__forward {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .feedback__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .feedback__container::after {
    height: 15px;
  }

  .feedback__title {
    width: 50%;
    padding-bottom: 0;
  }

  .feedback__quote {
    order: 3;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 25px;

    font-size: 17px;
  }

  .feedback__cite {
    order: 4;
    width: 50%;
  }

  .feedback__author {
    font-size: 18px;
    line-height: 28px;
  }

  .feedback__toggles {
    order: 5;
    width: 50%;
  }

  .feedback__apply {
    order: 2;
    width: auto;
    padding: 14px 38px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__container {
    padding-left: 225px;
  }
}
