.form {
  margin-bottom: 25px;

  background-color: rgb(255, 255, 255);

  & .container {
    padding-bottom: 0;
  }
}

.form__title {
  display: none;
}

.form__description {
  margin: 0;
  margin-bottom: 22px;

  font-size: 13px;
}

.form__fieldset {
  margin: 0;
  padding: 20px 0;

  border: none;
  border-top: 1px solid rgb(98, 209, 186);

  & input {
    font-size: 17px;
    line-height: 18px;
  }

  & input:hover {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  & input:focus {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }
}

.form__legend {
  margin-bottom: 15px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: rgb(99, 209, 187);
  text-transform: uppercase;
}

.form__list input {
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  &:focus {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  &:hover + label::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:focus + label::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:active + label::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:disabled + label {
    opacity: 0.3;
    pointer-events: none;

    &::before {
      cursor: not-allowed;
    }
  }
}

.form__label {
  position: relative;

  display: block;
  padding-left: 62px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black-000;

  &--text {
    margin: 0;
  }

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 40px;
    height: 40px;

    background-color: #ffffff;
    border: 2px rgb(68, 68, 68) solid;
    box-shadow: 0 0 0 12px #ffffff inset,;
    transform: translateY(-50%);
  }
}

.form__fieldset--type {
  & .form__label--radio::before {
    border-radius: 50%;
  }

  & input:checked + label::before {
    background-color: #62d1ba;
  }
}

.form__fieldset--color {
  & .form__label:not(:last-of-type) {
    margin-bottom: 43px;
  }

  & input:checked + label::after {
    content: "";
    position: absolute;
    left: 1%;

    width: 35px;
    height: 23px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.form__fieldset--name {
  padding-bottom: 5px;

  & .form__list {
    margin-top: -5px;
  }

  & .form__text--name:not(:last-of-type) {
    margin-top: 0;
    margin-bottom: 22px;
  }

  & .form__text--name:last-of-type {
    margin-bottom: 0;
  }
}

.form__fieldset--phone {
  position: relative;

  margin-bottom: 35px;
  padding: 0;
  padding-top: 6px;

  font-size: 19px;
  line-height: 15px;
  color: rgba(68, 68, 68, 0.3);

  & .form__legend {
    margin-bottom: 0;
  }

  & svg {
    position: absolute;
    top: 50%;
    right: 3%;

    fill: rgba(0, 0, 0, 0.2);
  }

  & input:hover + svg,
  & input:focus + svg {
    fill: rgb(98, 209, 186);
  }
}

.form__fieldset--mail {
  position: relative;

  margin-bottom: 10px;
  padding: 0;
  padding-top: 5px;

  font-size: 19px;
  line-height: 15px;
  color: rgba(68, 68, 68, 0.3);

  & .form__legend {
    margin-bottom: 0;
  }

  & svg {
    position: absolute;
    top: 50%;
    right: 2%;

    fill: rgba(0, 0, 0, 0.2);
  }

  & input:hover + svg,
  & input:focus + svg {
    fill: rgb(98, 209, 186);
  }
}

.form__fieldset--more {
  padding-bottom: 5px;

  & .form__legend {
    margin-bottom: 5px;
  }

  & .form__textarea {
    width: 100%;
    min-height: 142px;
    padding: 15px;

    font-size: 17px;
    line-height: 24px;

    border: 2px solid #000000;

    &:hover,
    &:focus {
      border: #63d1bb solid 2px;
      outline: none;
    }

    &::placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #444444;

      opacity: 0.3;
    }
  }
}

.form__text,
.form__phone,
.form__mail {
  width: 100%;
  height: 52px;

  border: none;
  box-shadow: inset 0 -2px 0 0 black;

  &::placeholder {
    opacity: 0.3;
  }

  &:not(:last-of-type) {
    margin-bottom: 22px;
  }
}

.form__label--text,
.form__label--phone,
.form__label--mail {
  display: block;
  padding-left: 0;
}

.form__label--text::before,
.form__label--phone::before,
.form__label--mail::before {
  display: none;
}

.form__fn {
  font-size: 14px;
  line-height: 16px;
  color: rgb(68, 68, 68);
}

.form__button {
  margin: 30px 0;
}

@media (min-width: $tablet-width) {
  .form__section {
    margin-bottom: 0;
  }

  .form {
    margin-top: 50px;

    & .form__label {
      margin-bottom: 58px;

      font-size: 19px;

      &::before {
        left: -4%;

        width: 53px;
        height: 53px;

        border: 2px rgb(68, 68, 68) solid;
        box-shadow: 0 0 0 15px #ffffff inset,;
      }
    }
  }

  .form__container {
    background-color: rgb(241, 241, 241);
  }

  .form__description {
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    position: relative;

    padding: 50px 0 0 28%;

    border: none;

    & input {
      font-size: 19px;
    }
  }

  .form__legend {
    position: absolute;
    left: 0;
    z-index: 2;

    font-size: 17px;
    line-height: 16px;
  }

  .form__list input {
    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__fieldset--type {
    padding-bottom: 10px;
  }

  .form__fieldset--color {
    padding-bottom: 10px;

    & .form__list {
      display: flex;
      flex-wrap: wrap;
    }

    & .form__label {
      &.form__label--checkbox {
        width: 54%;
        margin-bottom: 57px;

        &:nth-of-type(2n) {
          width: 35%;
        }
      }

      &::before {
        left: -8.5%;

        background-color: transparent;
        box-shadow: 0 0 0 15px transparent inset;
      }
    }

    & input:checked + label::after {
      left: -4%;
    }
  }

  .form__fieldset--name {
    padding: 45px 0 0 25%;

    & .form__list {
      margin-top: -15px;
    }

    & .form__text {
      padding-left: 15px;
    }

    & .form__text--name {
      display: flex;
      align-items: baseline;
    }

    & .form__text--name:not(:last-of-type) {
      margin: 0;
    }

    & .form__text--name:last-of-type {
      margin-top: 0;
      margin-bottom: 30px;
    }

    & .form__label--text {
      margin-bottom: 38px;
      padding-right: 25px;
    }
  }

  .form__fieldset--phone {
    margin-bottom: 0;
    padding: 30px 0 0 25%;

    & .form__legend {
      bottom: 15px;
    }

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      right: 4%;
    }
  }

  .form__fieldset--mail {
    margin-bottom: 0;
    padding: 25px 0 30px 25%;

    & .form__legend {
      top: 40px;
    }

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      top: 35px;
      right: 3%;
    }
  }

  .form__fieldset--more {
    margin-bottom: 15px;
    padding-left: 25%;

    & .form__legend {
      top: 66px;
    }

    & .form__textarea {
      font-size: 19px;
      line-height: 18px;

      &::placeholder {
        font-size: 19px;
        line-height: 18px;
      }
    }
  }

  .container__apply {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__fn {
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .form__description {
    padding: 0 17%;
  }

  .form__legend {
    left: 6%;
  }


  .form__fieldset {
    padding: 50px 16.5% 0 19%;

    border: none;
  }

  .form__label {
    padding-left: 58px;
  }

  .form__fieldset--type {
    padding-bottom: 12px;
  }

  .form__fieldset--color {
    padding: 45px 5% 1% 19%;

    & .form__label {
      &.form__label--checkbox {
        width: 33%;
        margin-bottom: 57px;

        &:nth-of-type(2n) {
          width: 33%;
        }
      }
    }
  }

  .form__fieldset--name {
    padding: 45px 16.5% 0 17%;

    & .form__label {
      padding-left: 0;
    }
  }

  .form__fieldset--phone {
    padding: 28px 16.5% 0 17%;

    & .form__legend {
      bottom: 15px;
    }

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      right: 17%;
    }
  }


  .form__fieldset--mail {
    padding: 28px 16.5% 50px 17%;

    & .form__legend {
      top: 40px;
    }

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      right: 17%;
    }
  }

  .form__fieldset--more {
    margin-bottom: 10px;
    padding: 28px 16.5% 0 17%;

    & .form__legend {
      top: 40px;
    }
  }

  .container__apply {
    padding: 0 17%;
  }
}
