.form {
  margin-bottom: 25px;

  background-color: rgb(255, 255, 255);

  & .container {
    padding-bottom: 6px;
  }
}

.form__description {
  width: 93%;
  margin: 0;
  margin-bottom: 22px;

  font-size: 13px;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  & input {
    font-size: 17px;
    line-height: 18px;
  }

  & input:hover {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  & input:focus {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }
}

.form__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;

  & h3 {
    margin: 0;

    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: rgb(99, 209, 187);
    text-transform: uppercase;
  }

  &::after {
    content: "";

    width: 77%;
    height: 1px;

    background-color: rgb(99, 209, 187);
  }
}

.form__list input {
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  &:focus {
    box-shadow: inset 0 -2px 0 0 rgb(98, 209, 186);
  }

  &:hover + label::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:focus + label::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:active + label::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:disabled + label {
    opacity: 0.3;

    pointer-events: none;

    &::before {
      cursor: not-allowed;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black-000;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";

    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 23px;

    background-color: #ffffff;
    border: 2px rgb(68, 68, 68) solid;
    box-shadow: 0 0 0 10px #ffffff inset;
  }
}

.form__fieldset--type {
  & .form__label--radio::before {
    border-radius: 50%;
  }

  & input:checked + label::before {
    background-color: #62d1ba;
  }
}

.form__fieldset--color {
  & .form__label:not(:last-of-type) {
    margin-bottom: 21px;
  }

  & input:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
  }
}

.form__fieldset--name {
  & .form__legend {
    padding-bottom: 30px;
  }

  & .form__list-row:not(:last-of-type) {
    margin-top: 0;
    margin-bottom: 22px;
  }

  & .form__list-row:last-of-type {
    margin-bottom: 0;
  }
}

.form__fieldset--phone {
  position: relative;

  margin-bottom: 35px;

  font-size: 19px;
  line-height: 15px;
  color: rgba(68, 68, 68, 0.3);

  & .form__legend {
    padding-bottom: 10px;
  }

  & svg {
    position: absolute;
    top: 50%;
    right: 4%;

    fill: rgba(0, 0, 0, 0.2);
  }

  & input:hover + svg,
  & input:focus + svg {
    fill: rgb(98, 209, 186);
  }
}

.form__fieldset--mail {
  position: relative;

  font-size: 19px;
  line-height: 15px;
  color: rgba(68, 68, 68, 0.3);

  & .form__legend {
    padding-bottom: 5px;
  }

  & svg {
    position: absolute;
    top: 40%;
    right: 4%;

    fill: rgba(0, 0, 0, 0.2);
  }

  & input:hover + svg,
  & input:focus + svg {
    fill: rgb(98, 209, 186);
  }
}

.form__fieldset--more {
  margin-bottom: 5px;

  & .form__textarea {
    width: 100%;
    min-height: 142px;
    padding: 15px;

    font-size: 17px;
    line-height: 24px;

    border: 2px solid #000000;

    resize: vertical;

    &:hover,
    &:focus {
      border: #63d1bb solid 2px;
      outline: none;
    }

    &::placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #444444;

      opacity: 0.3;
    }
  }
}

.form__text,
.form__phone,
.form__mail {
  width: 100%;
  height: 52px;

  border: none;
  box-shadow: inset 0 -2px 0 0 black;

  &::placeholder {
    opacity: 0.3;
  }

  &:not(:last-of-type) {
    margin-bottom: 22px;
  }
}

.form__label--text,
.form__label--phone,
.form__label--mail {
  display: block;
  padding-left: 0;
}

.form__label--text::before,
.form__label--phone::before,
.form__label--mail::before {
  display: none;
}

.form__fn {
  font-size: 14px;
  line-height: 16px;
  color: rgb(68, 68, 68);
}

.form__button {
  margin: 30px 0 22px 0;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 55px;

    & .container {
      padding-top: 16px;
    }

    & .form__label {
      margin-bottom: 22px;

      font-size: 19px;

      &::before {
        width: 53px;
        height: 53px;
        margin-right: 25px;

        border: 2px rgb(68, 68, 68) solid;
        box-shadow: 0 0 0 13px #ffffff inset,;
      }
    }
  }

  .form__container {
    background-color: rgb(241, 241, 241);

    & .container {
      padding: 50px 50px 30px 50px;
    }
  }

  .form__description {
    margin-bottom: 58px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    display: flex;
    flex-direction: row;

    & input {
      font-size: 19px;

      &::placeholder {
        font-size: 19px;
      }
    }
  }

  .form__legend {
    flex-shrink: 0;
    align-self: flex-start;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 0;

    font-size: 17px;
    line-height: 16px;

    &::after {
      display: none;
    }
  }

  .form__fieldset--type {
    margin-bottom: 25px;
  }

  .form__fieldset--color {
    & .form__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    & .form__label--checkbox {
      width: 53%;

      &:nth-of-type(2n) {
        width: 37%;
      }

      &::before {
        background-color: transparent;
        box-shadow: 0 0 0 15px transparent inset;
      }
    }
  }

  .form__fieldset--name {
    padding: 50px 0 0 0;

    & .form__legend {
      padding-top: 0;
    }

    & .form__list {
      flex-grow: 1;
      margin-top: -15px;
    }

    & .form__text {
      padding-left: 15px;
    }

    & .form__list-row {
      display: flex;
      align-items: baseline;
    }

    & .form__list-row:not(:last-of-type) {
      margin: 0;
    }

    & .form__list-row:last-of-type {
      margin-top: 0;
      margin-bottom: 25px;
    }

    & .form__label--text {
      margin-bottom: 40px;
      padding-right: 25px;
    }
  }

  .form__fieldset--phone {
    margin-bottom: 25px;

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      transform: translateY(-60%);
    }
  }

  .form__fieldset--mail {
    margin-bottom: 20px;

    & input {
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      right: 3%;

      transform: translateY(-30%);
    }
  }

  .form__fieldset--more {
    padding: 30px 0 20px 0;

    & .form__textarea {
      font-size: 19px;
      line-height: 18px;

      &::placeholder {
        font-size: 19px;
        line-height: 18px;
      }
    }
  }

  .container__apply {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__fn {
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-top: 98px;
    margin-bottom: 20px;

    & .container {
      padding: 22px 114px;
    }
  }

  .form__description {
    padding: 0 30px 0 110px;
  }

  .form__legend {
    width: 12%;
    padding-top: 18px;
  }

  .form__fieldset--type {
    margin-bottom: 0;
  }

  .form__fieldset--color {
    padding-top: 30px;
    padding-bottom: 10px;

    & .form__label--checkbox {
      width: 32.5%;

      &:nth-of-type(2n) {
        width: 32.5%;
      }
    }
  }

  .form__fieldset--name {
    margin-bottom: 10px;
    padding-top: 45px;

    & .form__list {
      padding-right: 114px;
    }

    & .form__list-row:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__fieldset--phone {
    padding-top: 25px;

    & input {
      margin-right: 114px;
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      top: 65%;
      right: 120px;
    }
  }


  .form__fieldset--mail {
    margin-bottom: 30px;

    & input {
      margin-right: 114px;
      padding-left: 15px;

      background-color: transparent;
    }

    & svg {
      top: 45%;
      right: 117px;
    }
  }

  .form__fieldset--more {
    padding-top: 25px;
    padding-right: 114px;

    & .form__legend {
      width: 14%;
    }
  }

  .container__apply {
    padding: 0 114px 0 12%;
  }

  .form__button {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
