.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 177px;

  background-color: rgb(255, 255, 255);
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
}

.intro--main {
  min-height: 488px;
}

.intro__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.intro__note {
  display: none;
  align-self: flex-end;
}

.intro__title {
  width: 244px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $black-000;
}

.intro__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  @include reset-ul();
}

.intro__item {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  background-color: rgb(99, 209, 187);
}

.intro__item:nth-of-type(2n) {
  background-color: rgb(86, 195, 178);
}

.intro__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .intro {
    position: relative;

    min-height: 226px;

    background-image: url("/img/hero-tablet@1x.jpg");
  }

  .intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 5;

    display: block;
    width: 100%;
    height: 24px;

    background-image: url("./img/bg-zigzag-fill.svg");
    background-repeat: repeat;
  }

  .intro--main {
    min-height: 745px;
  }

  .intro__note {
    display: block;
  }

  .intro__title {
    width: 500px;
    margin-top: 120px;

    font-size: 43px;
    line-height: 50px;
  }

  .intro__list {
    flex-direction: row;
    width: $tablet-width;
    padding: 0 50px;
  }

  .intro__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 255px;

    background-image: url("/img/hero-desktop@1x.jpg");
  }

  .intro::after {
    height: 34px;
  }


  .intro--main {
    min-height: 685px;
  }

  .intro__title {
    width: 610px;

    font-size: 53px;
    line-height: 57px;
  }

  .intro__list {
    width: $desktop-width;
  }
}
