.intro {
  background-color: rgb(241, 241, 241);
  min-height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro--main {
  min-height: 488px;
  justify-content: flex-end;
  background-image: url("http://placehold.it/150x100");
  background-repeat: no-repeat;
}

.intro__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.intro__title {
  width: 244px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.intro__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.intro__item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: rgb(99, 209, 187);
}

.intro__item:nth-of-type(2n) {
  background-color: rgb(86, 195, 178);
}

.intro__link {
  width: 100%;
  margin: 0;
  padding: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .intro {
    height: 160px;
  }

  .intro--main {
    height: 685px;
  }

  .intro__title {
    display: inline-flex;
    justify-content: center;
    width: 500px;

    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .intro__list {
    width: $tablet-width;
    padding: 0 50px;
    flex-direction: row;
  }

  .intro-item {
    width: 50%;
  }

  .intro__link {
    font-size: 20px;
    line-height: 30px;
    width: 120px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    height: 200px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .intro--main {
    height: 685px;
  }

  .intro__title {
    display: inline-flex;
    justify-content: center;
    width: 610px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .intro__list {
    width: $desktop-width;
    padding: 0 50px;
    flex-direction: row;
  }

  .intro__link {
    font-size: 20px;
    line-height: 30px;
    width: 120px;
  }
}
