.page-footer {
  background-color: rgb(241, 241, 241);
}

.page-footer__container {
  display: flex;
  flex-direction: column;
}

.page-footer__social {
  width: 100%;
  padding: 5px 0 25px 0;

  border-bottom: 1px solid rgb(229, 229, 229);
}

.page-footer__copyright {
  width: 100%;
  padding: 20px 0 8px 0;
}

.page-footer__logo {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .page-footer__logo {
    display: block;

    &:hover svg {
      fill: rgb(70, 193, 174);
    }

    &:focus svg {
      fill: rgba(70, 193, 174, 0.3);
    }
  }

  .page-footer__container > * {
    width: 30%;
    padding: 0;
  }

  .page-footer__social {
    border: none;
  }
}
