.page-footer {
  background-color: rgb(241, 241, 241);
}

.page-footer__container {
  display: flex;
  flex-direction: column;
}

.page-footer__social {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
}
