@font-face {
  font-weight: 300;
  font-family: "open_sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "open_sans";
  font-style: normal;

  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgb(68, 68, 68);
  letter-spacing: normal;

  background-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
