.section__title {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

@media (min-width: $tablet-width) {
  .section {
    margin-bottom: 60px;
  }

  .section__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .section {
    margin-bottom: 70px;
  }

  .section__title {
    font-size: 53px;
    line-height: 57px;
  }
}
