.site-list {

  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  box-shadow: 0 1px 0 0 rgb(237, 237, 237), inset 0 1px 0 0 rgb(236, 236, 236);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site-list__link {

  padding-left: 46px;
  padding-top: 28px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    order: 2;
  }

  .site-list__item {
    justify-content: flex-end;
    align-items: center;
    margin-right: 37px;
  }

  .site-list__link {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 15px;
  }
}
