.site-list {
  @include reset-ul();
  z-index: 1;
}

.site-list__item {
  box-shadow: 0 1px 0 0 rgb(237, 237, 237), inset 0 1px 0 0 rgb(236, 236, 236);
}

.site-list__link {
  display: block;
  padding: 28px 0 27px 76px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    // position: absolute;
    // top: 100%;

    order: 2;
  }

  .site-list__item {
    box-shadow: none;
  }

  .site-list__item:not(:last-of-type) {
    margin-right: 37px;
  }

  .site-list__link {
    padding: 25px 0 0 0;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 43%;
  }

  .site-list:not(.page-header__list--desktop) {
    position: static;
    order: 1;
  }

  .site-list__item {
    width: 150px;
    // тут надо пересчитать в процентах
  }

  .site-list__link {
    padding: 31px 0;

    font-size: 17px;
  }
}
