.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.social__item {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: inline-block;
  text-decoration: none;
  font-size: 0;
  width: 24px;
  height: 24px;
  background-color: fuchsia;
}


@media (min-width: $tablet-width) {
  .social {
    margin: 0 auto;
  }
}
