.user-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__item {
  box-shadow: 0 1px 0 0 rgb(237, 237, 237), inset 0 1px 0 0 rgb(236, 236, 236);
}

.user-list__link {
  position: relative;

  display: block;
  padding: 28px 0 27px 76px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.user-list__link img {
  position: absolute;
  left: 30px;
}

@media (min-width: $tablet-width) {
  .user-list {
    position: relative;

    justify-content: flex-end;
    align-items: center;
  }

  .user-list::after {
    content: "Бесплатная доставка по России*";
    position: absolute;
    right: 0;
    bottom: -45px;
  }

  .user-list__item {
    border-left: 1px tomato solid;
    box-shadow: none;
  }

  .user-list__item:last-child {
    flex-grow: 1;
  }

  .user-list__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 31px 31px;
  }

  .user-list__link img {
    position: static;
  }

  .user-list__link--search {
    padding-right: 31px;

    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 3;
  }
}
