.user-list {
  @include reset-ul();
}

.user-list__item {
  box-shadow: 0 1px 0 0 rgb(237, 237, 237), inset 0 1px 0 0 rgb(236, 236, 236);
}

.user-list__link {
  position: relative;

  display: block;
  padding: 28px 0 27px 76px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.user-list__link svg {
  position: absolute;
  left: 30px;
}

.user-list__link:hover svg {
  fill: #63d1bb;
  opacity: 1;
}

.user-list__link:active svg {
  fill: #63d1bb;
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .user-list {
    position: relative;

    justify-content: flex-end;
  }

  .user-list__item {
    border-left: 1px #cecece solid;
    box-shadow: none;
  }

  .user-list__link {
    display: flex;
    align-items: center;
    padding: 31px 0 31px 31px;
  }

  .user-list__link svg {
    position: static;

    margin-right: 31px;
  }

  .user-list__link--search {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    flex-grow: 1;
    order: 2;
    width: 43%;
  }
}
