// colors
$white-fff: rgb(255, 255, 255);
$grey-f1f: rgb(241, 241, 241);
$grey-ece: rgb(236, 236, 236);
$grey-ccc: rgb(204, 204, 204);
$grey-ede: rgb(237, 237, 237);
$black-000: rgb(0, 0, 0);
$black-221: rgb(34, 31, 31);
$black-444: rgb(68, 68, 68);
$aqua-light-left-63d: rgb(99, 209, 187);
$aqua-dark-right-56c: rgb(86, 195, 178);
$aqua-light-62d:rgb(98, 209, 186);

// widths
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

